body{
    margin: 0%;
}

header{
   background-image: url(imgs.jpg);
    text-align: center;
    font-family:Roboto;
    margin:  none;
    height: 60vh;
    background-size: cover;
    font-size: larger;
    color: white;
}
.header-title {
    margin-top: 20px;
}